@model Rival.Models.Matches.MatchCreate

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">Create a New Match</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" style="margin: 0 auto; width:750px;">
    <hr />

    <div class="form-group">
        <div class="control-label col-md-2">Your Opponent</div>
        <div class="col" style="margin: 10px 0 20px 0;">
            @Html.DropDownList("PlayerTwoId", (ViewBag.PlayerTwo as SelectList), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PlayerTwoId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col" style="margin: 10px 0 20px 0;">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Court</div>
        <div class="col" style="margin: 10px 0 20px 0;">
            @Html.DropDownList("CourtId", (ViewBag.Court as SelectList), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CourtId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <button class="col-md-offset-2 col-md-10 btn btn-block btn-primary" style="width:750px;">
            <input type="button" value="Create" style="color: #fff" class="btn btn-default"/>
        </button>
    </div>
</div>
    }


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
