@model Rival.Models.Matches.MatchDetail

@{
    ViewBag.Title = "Delete";
}

<h3 class="text-center">Are You Sure You Want To Delete This Match?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="text-center">
        <p><input type="submit" value="Yes" class="btn btn-default" /></p>
        <p><a href="@Url.Action("Details", new { id = Model.MatchId })" class="text-decoration-none" style="color: #212529;">No</a></p>
    </div>
}
<div class="row" style="margin-top: 30px;">
    <div class="col"></div>
    <div class="col-12 card panel panel-default text-center">
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Player Once</th>
                        <th>Player Two</th>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Winner</th>
                        <th>Final Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.PlayerOne.FullName)</td>
                        <td>@Html.DisplayFor(model => model.PlayerTwo.FullName)</td>
                        <td>@Html.DisplayFor(model => model.Date)</td>
                        <td>@Html.DisplayFor(model => model.Court.Location)</td>
                        <td>@Html.DisplayFor(model => model.Winner)</td>
                        <td>@Html.DisplayFor(model => model.FinalScore)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col"></div>
</div>
