@model IEnumerable<Rival.Models.Matches.MatchListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MatchId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerOne)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.PlayerTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatchId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerOne.FullName)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.PlayerTwo.FullName)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>        

        <td>
            @Html.ActionLink("Details", "Details", new { id = item.MatchId })
        </td>
    </tr>
}

</table>
