@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>
        <a href="@Url.Action("Index", "Court")"><img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/14565/tennis-court-sports-clipart-md.png" style="width: 50px; margin-right: 20px;"/></a>
        Welcome to Rival!
        <a href="@Url.Action("Index", "Court")"><img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/14565/tennis-court-sports-clipart-md.png" style="width: 50px; margin-left: 20px;" /></a></h1>
    <p class="lead">The online portal to find your next competitive tennis match.</p>
    <div class="row">
        <p class="col-sm"></p>
        <p class="col-sm"><a href="@Url.Action("Dashboard", "Player")" style="width: 500px; margin: 8px; padding: 20px;" class="btn btn-primary btn-lg">Check out your own player dashboard &raquo;</a></p>
        <p class="col-sm"></p>
    </div>    
    <div class="row">
        <p class="col-sm"></p>
        <p class="col-sm"><a href="@Url.Action("Index", "Player")" style="width: 500px; margin: 8px; padding: 20px;" class="btn btn-primary btn-lg">See who all is playing &raquo;</a></p>
        <p class="col-sm"></p>
    </div>
    <div class="row">
        <p class="col-sm"></p>
        <p class="col-sm"><a href="@Url.Action("Create", "Match")" style="width: 500px; margin: 8px; padding: 20px;" class="btn btn-primary btn-lg">Get started with a new match &raquo;</a></p>
        <p class="col-sm"></p>
    </div>
</div>
